<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/font-awesome.min.css" />

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/smartadmin-skins.min.css">
    <link href="~/Content/application/site.css" rel="stylesheet" />
    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/demo.min.css">

    <!-- Angular loader & flash css -->
    <link href="@Url.Content("~/Content/angular-flash/angular-flash.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/angular-loading-bar/loading-bar.min.css")" rel="stylesheet" />

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/favicon/favicon.ico" type="image/x-icon">

</head>

<body class="animated fadeInDown" ng-app="EnterpriseSolution">

    <div id="main" role="main">
        <!-- MAIN CONTENT -->
        <div id="content" class="container">
            @RenderBody()
        </div>
    </div>

    <!-- jQuery + jQueryUI -->
    <script src="~/Scripts/js/libs/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/js/libs/jquery-ui-1.10.3.min.js"></script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="~/Scripts/js/app.config.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>


    <!-- MAIN APP JS FILE -->
    <script src="~/Scripts/js/app.min.js"></script>


    <script src="~/Scripts/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="~/Scripts/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="~/Scripts/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>

    <!-- Angular Js Files -->
    <script src="@Url.Content("~/Scripts/angular.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-route.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-animate.js")" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.1/angular-datatables.js"></script>
    <!-- Angular Custom Controller -->
    <script src="@Url.Content("~/Scripts/angular/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular/controllers/login-controller.js")" type="text/javascript"></script>

    <!-- Angular Custom Services -->
    <script src="@Url.Content("~/Scripts/angular/services/basedapiurl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular/services/loginservice.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-flash.js")" type="text/javascript"></script>

    <!-- Angular Loading Bar -->
    <script src="@Url.Content("~/Scripts/loadingbar/loading-bar.js")" type="text/javascript"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
